*{
padding: 0;
margin: 0;
border: 0;
}



header{
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(218, 54, 255);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 20%;
  padding-top: 20px;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  padding: 55px;
}
